body {
  margin-top: 50px;
  background: url(./img/Group\ 5.png);
  background-position: fill;
  background-size: center;
  width: 1400px;
  height: 700px;
  margin: auto;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.container{
    padding: 40px;
    margin-top: 160px;
    width: 1090px;
    height: 400px;
    background: hsl(240,96%,56%);
    background: transparent;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    text-align: center;
}

.convert {
    display: inline-flex;
}
p{
    
    padding-right: 83px;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}
input[type="number"]{
    height: 32px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 45px;
}
select{
   margin-left: 65px;
   margin-right: 85px;
   width: 150px;
   height: 40px;
   border-radius: 10px;
   outline: none;
   font-size: 20px;
}

input[type="submit"]{
    margin: 40px 280px;
    width: 300px;
    border-radius: 15px;
    height: 38px;
    border: none;
    background: yellowgreen;
    color: #fff;
    font-size: 25px;
}
input[type="submit"] :hover {
    background: greenyellow;
    cursor: pointer;
}
#result{
    font-size: 40px;
    font-weight:bold;
    color: yellow;
}